<%= render "shared/navbar" %>
<% if notice != nil %>
  <div class="alert alert-warning alert-dismissable">
    <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <p><%= notice %></p>
  </div>
<% end %>

<div class=container style="margin-bottom:50px">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-xs-12">
      <% if @users.size==0 %>
        <p>登録ユーザーはまだ一人もいません。</p>
      <% end %>
      <% @users.each do |user| %>
        <div class="user">
          <div class="user_image">
            <% if profile_img(user) %>
              <%= link_to profile_img(user),[user, :pictures] %>
            <% else %>
              <%= link_to asset_path "no_image.png",[user, :pictures] %>
            <% end %>
          </div>
          <div class="user_name">
            <%= link_to user.name,[user, :pictures] %>
            <% if current_user != nil && user.id == current_user.id %>
              <p>
                <%= Picture.where(user_id: user.id).count.to_s %>件の投稿
                <%= link_to new_picture_path do %>
                  <i class="fa fa-camera-retro"></i>
                <% end %>
              </p>
            <% else %>
              <p><%= Picture.where(user_id: user.id).count.to_s %>件の投稿</p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div id="page-top-btn" class="page-top-btn">
  <p><a class="move-page-top" id="move-page-top">▲</a></p>
</div>
