<%= form_for(@picture, url:choose_new_or_edit) do |f| %>

  <%= f.error_messages! %>

  <div class="field">
    <%= f.text_field :title, autofocus: true, class: 'form-control', placeholder: "タイトル" %>
  </div>
  <!--br-->

  <% if @picture.image? %>
    <%= image_tag @picture.image.url %>
  <% end %>
  <!--br-->
  <!--<%= f.label :image %>-->
  <%= f.file_field :image %>
  <%= f.hidden_field :image_cache %>
  <!--br-->

  <div class="field">
    <%= f.text_field :comment, class: 'form-control', placeholder: "コメント" %>
  </div>

  <%= f.submit '投稿', class: 'btn btn-primary btn-block' %>
<% end %>
<!--br-->
<!--<%= link_to "画像一覧", pictures_path %>-->
<%= link_to "戻る", :back %>
