<%= render "shared/navbar" %>
<div class="container" style="margin-bottom:50px">
  <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
    <h3>以下の内容で送信します。</h3>
    <%= form_for(@picture, url: check_param_pictures_path) do |f| %>
      <%= f.hidden_field :title %>
      <%= f.hidden_field :image %>
      <%= f.hidden_field :comment %>
      <%= f.hidden_field :image_cache %>
      <div class="field">
        タイトル：<%= @picture.title %>
      </div>
      <div class="field">
        <% if @picture.image? %>
          <p>画像：<%= image_tag @picture.image.url %></p>
        <% end %>
      </div>
      <div class="field">
        コメント：<%= @picture.comment %>
      </div>
      <%= f.submit "投稿する", class: 'btn btn-primary btn-block' %>
    <% end %>

    <%= form_for(@picture, url: check_param_new_picture_path, method: 'get') do |f| %>
      <%= f.hidden_field :title %>
      <%= f.hidden_field :image %>
      <%= f.hidden_field :comment %>
      <%= f.hidden_field :image_cache %>
      <%= f.submit "戻る", name: 'back', class: 'btn btn-default btn-block' %>
    <% end %>
  </div>
</div>
