<%= render "shared/navbar" %>
<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <p><%= notice %></p>

    <!--<h1>投稿画像一覧</h1>-->

    <%= link_to "新規画像投稿", new_picture_path, class: 'btn btn-default' %>

    <% if @user != nil %>
      <div class="user">
        <div class="user_image">
          <%= profile_img(@user) if profile_img(@user) %>
        </div>
        <%= @user.name %>
      </div>
    <% end %>

    <% @pictures.each do |picture| %>
      <div class="row">
        <% if @user == nil %>
          <%= link_to picture.user.name,[picture.user, :pictures] %>
          <!--<%= picture.user.name %>-->
        <% end %>
        <h4><strong><%= picture.title %></strong></h4>
        <p>画像：</p>
        <% if picture.image? %>
          <%= image_tag picture.image.url %>
        <% end %><br>
        <p>コメント：<%= picture.comment %></p>
        <% if picture.user_id == current_user.id %>
          <%= link_to "投稿内容を編集する", edit_picture_path(picture.id), class: 'btn btn-default btn-sm btn-success' %>
          <%= link_to "投稿内容を削除する", picture_path(picture.id), method: :delete, data: {confirm: "本当に削除して良いですか？"}, class: 'btn btn-default btn-sm btn btn-danger' %>
        <% end %>
      </div>
    <% end %>
    <br>
    <br>

  </div>
  <div id="page-top-btn" class="page-top-btn">
    <p><a class="move-page-top" id="move-page-top">▲</a></p>
  </div>

</div>
