<!DOCTYPE html>
<html>
<head>
  <title>Nyansta</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= favicon_link_tag %>
</head>

<body style="background:#EEEEEE">

  <%= yield %>

  <footer>
    <p>DIVE14_exam</p>
    <p>Y/N</p>
  </footer>

</body>
</html>
